/*20141014 add edit 试卷弹出层 */
.khj_paper_warp{ background:#000; z-index:9; opacity:0.5;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); position:fixed; top:0px; left:0px; width:100%; height:100%;}

.khj_paper{width:745px; height:586px;z-index:99; position:absolute; top:12%; margin:0 auto; background:#fff; border:2px solid #adadad; left:47%; margin-left:-340px;}

.khj_paper .hd{ width:100%; height:518px; margin:0 auto; background:#fff;}
.khj_paper .bd{ height:40px;z-index:999; position:absolute; top:0px; right:0px;  line-height:45px;width: 500px;}

.khj_paper .bd span{ display:inline-block;  cursor:pointer;}
.khj_paper .bd .grade{ color:#c5c5c5; background:url(../LP_images/paperico1.png)  20px center no-repeat; padding:0 20px 0 43px;}

.khj_paper .bd .detail{ color:#c5c5c5;padding:0 20px 0 43px;background:url(../LP_images/paperico2.png)  20px center no-repeat; }
.khj_paper .bd .line{background:url(../LP_images/paper-c.png) center no-repeat; width:1px; height:40px;float:right;}
.khj_paper .bd .small{height:40px;background:url(../LP_images/paperico3.png)  center no-repeat; padding:0 20px;}

.khj_paper .bd .close{height:40px;background:url(../LP_images/paperico4.png)  center no-repeat; padding:0 18px;}

.khj_paper .bd .bg{height:40px;background:url(../LP_images/paper-main.png) repeat-x; float:right; }

.khj_paper .bd .bg:hover{background:url(../LP_images/paper-hover.png) repeat-x; }

/*20141204 add hjkan*/
.khj_paper .bd .fdj{height:40px;background:url(../LP_images/fdj.png)  center no-repeat; padding:0 21px;}
.khj_paper .bd .sxj{height:40px;background:url(../LP_images/sxj.png)  center no-repeat; padding:0 21px;}

/*20141017 hjkan add*/
.paper_sm_active_con_c .look{
    display:block;
    height:25px;
    line-height:24px;
    padding:0 15px;
    color:#00F; text-decoration:underline;
}
/*20141017 add hjkan*/
.khj_paper .bd .small1{height:40px;background:url(../LP_images/paperico5.png)  center no-repeat; padding:0 20px;}

.none{ display:none !important;}
.img_loading{
    position: absolute;
    text-align: center;
    line-height: 100px;
    height: 100px;
    left: 8%;
    width: 100px;
    background-image: url("../zx_images/loading.jpg");
    background-position: center;
    margin-top: 150px;
    margin-left: 250px;
}
.divBlock {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    left: 0;top: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-opacity: 0;
    background: #efefef;
    z-index:1;
}

.imgMain {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align:center;
}
.imgMain img{
    width: 100%;
    margin:0 auto;
}
.imgMain .total{
    margin: 90px 0px;
}
.imgMain .section{
    margin: 18px 0px
}
.normal-right{
    position: absolute;
    background-image: url(../image_mark/littleRight.png);
}
.normal-half{
    position: absolute;
    background-image: url(../image_mark/littleMidRight.png);
}
.normal-wrong{
    position: absolute;
    background-image: url(../image_mark/littleError.png);
}
.max-right{
    position: absolute;
    background-image: url(../image_mark/bigRight.png);
}
.max-half{
    position: absolute;
    background-image: url(../image_mark/bigMidRight.png);
}
.max-wrong{
    position: absolute;
    background-image: url(../image_mark/bigError.png);
}

/*2016.8.30 add*/
.bgGrey {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, .45);
    padding: 23px 0 0;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #66ffe6;
    text-decoration: none;
    line-height: 18px;
    box-sizing: border-box;
}
.bgGrey2 {
    padding: 0;
}